
    
  
        
        <img class="transitionRemove" id="transition" src="../../img/transition.png"/>

     
   <div id="screen">
      <div id="field-1">
         <p>Choise your character</p>
         <div id="character">
            <div id="character1">
               <img id="character-player1" class="img-character" src="../../img/character1.png">
               <ul>
                  <li>Power: Laser</li>
                  <li>Life: 100</li>
                  <li>Attack: 10</li>
               </ul>
            </div>
            <div id="character2">
               <img id="character-player2" class="img-character" src="../../img/character2.png">
               <ul>
                  <li>Power: Slime gun</li>
                  <li>Life: 80</li>
                  <li>Attack: 12</li>
               </ul>
            </div>
            <div id="character3">
               <img id="character-player3" class="img-character" src="../../img/character4.png">
               <ul>
                  <li>Power: Pistol</li>
                  <li>Life: 50</li>
                  <li>Attack: 15</li>
               </ul>
            </div>
            <div>
         
               <button id="next-character" class="button">Next</button>
            </div>
         </div>
      </div>
      <div id="field-2">
      
            <span class="box-info">
               <p>Your objective is to kill the boss, but before you need to kill other enemies</p>
               <h3>Controls</h3>
               <ul style="list-style: none;">
                  <li>Move: W A S D</li>
                  <li>Attack: Click</li>
               </ul>
            </span>
            <button id="next" class="button">Start</button>
        
      </div>
   </div>
   <script type="module" src="components/game/game.js"></script>



