#game{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen{
    background-color: black;
    width: 90%;
    margin-top: 10px;
    height: 400px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    
}
#field-1{

    width: 50%;
    background-color: rgb(20, 20, 20);
    border-right: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#field-2{
    width: 50%;
    background-color: rgb(20, 20, 20);
    border-left: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#field-1 > p{
    color: aliceblue;

    
}
#field-2 > span {
    color: aliceblue;
}
#character{
    margin-top: 10px;
    width: 90%;
    background-color: rgb(0, 0, 0);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    padding: 3px;
    border-radius: 20px;
    display: inline-block;
}
.box-info{
    border: 1px dashed white;
    margin: 2%;
    padding: 5px;
}
h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-character{
    width: 200px;
    height: 200px;
}
li{
    color: white;
}
#character2{
    display: none;
}
#character3{
    display: none;
}



/*
Transition
*/
.transitionRemove{
    display: none;
}

.transitionShow{
    display: block;
    position: absolute;
    align-items: center;
    animation-name: transition;
    animation-duration: 4s;
    z-index: 10;
}
@keyframes transition{
    0% {
        width: 100px;
    }
    50% {
        width: 500px;
    }
    100% {
        width: 0px;
    }
}
